html, body {
  font-family: 'Hind Madurai', sans-serif;
  color: #13a538;
  /*overflow-x: hidden;*/ 
  /*scroll-snap-type: y proximity;*/
}

h2 {
  text-transform: uppercase;
  font-size: clamp(20px, 2vw, 30px);
  letter-spacing: .02em;
  font-weight: 700 !important;
}

h1, h2 {
  background: url(../assets-jpeg/tex.jpg) repeat;
  color: white;
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.d-main-bg {
  background-image: url(../assets-jpeg/weg.jpg); 
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  /* height: 1100vh; */
}

.d-screen {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*scroll-snap-align: start;*/
}

.d-screen .row {
  align-items: center;
}

.d-screen.full-height {
  height: 100vh;
}

.d-main-headline {
  font-size: clamp(30px, 3vw, 65px);
  line-height: 1;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .container {
    margin-right: 1.5rem;
    width: 60vw;
  }

  .d-main-bg {
    background-repeat: repeat-y;
    background-position-x: -30vw !important;
  }
}